/** date and time css **/
span.date {
    margin: 0 10px 0 0px;
}
.news_content p .date, .news_content p .time {
    color: #454545;
}
.news_content p .date a, .news_content p .time a {
    color: #939393;
}
.news_content .btn-warning {
    background-color: #ED1C24;
    color: #ffffff;
}
.news_content .btn-warning:hover, .news_content .btn-warning:focus {
    background-color: #333;
    color: #ED1C24;
}

/** tab css **/
.js_tabs a {
    background: #fff;
    display: block;
    padding: 11px 10px;
    color:#333;
}

.js_tabs a:hover{
    color: #333;
}
.tab-content img {  
    width: 100%;
    margin-bottom: 30px;
}
.js_tabs .active a{
    color: #ED1C24;
    font-weight: 600;
}
.js_tabs li {
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

#home > p {
    color: #333;
    font-family: Source Sans Pro ,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}
ul.social {
    margin-top: 0;
}
div.categoryProduct {
    margin-right: 0px !important;
}
div.content_container {
    float: left;     
    position: relative; 
    min-height: 250px;
    max-height: 250px;
}
div.img_container {    
    height: 220px;
    overflow: hidden;
    background-color: #ccc;
    border-bottom: 1px solid #444;
}

div.img_container img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.hotline span {
    text-align: right;
    font-size: 14px;
    color:#545353;    
}
.search_box {
    margin-top: 11px;
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none; 
    border-color:#cccccc; 
}
.navbar-form .input-group > .form-control {
    width: 300px;
}
#srch-term {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-size: 33px auto;
    padding-left: 36px;
}
.hotline {
    margin-top: 4px;
    color: #000;
    text-align: right;
}
.userMenu {
    margin-top: 0;
}
/* dropdown menu gap create */
.dropboton_m_top {
    margin-top: 27px;
}
.hidden-xs > a:last-child {
    padding: 0;
}
.supportLi h4 {
    font-size: 13px;
}/* 
.social_icon ul li a {
  background: #ddd none repeat scroll 0 0;
  border-radius: 500%;
  display: block;
  height: 28px;
  padding: 3px 0 0 8px;
  width: 28px;
  transition: all .8s ease;
}
.social_icon ul li a i {
  color: #fff;
  font-size: 17px;
}
.social_icon ul li a:hover {
        transform: rotate(360deg);
} */

.navbar-tshop {
    background: #eeeeee none repeat scroll 0 0;
    margin-top:0px;
}
.navbar-top {
    background: #fff none repeat scroll 0 0;
    padding: 12px 0;
}

.menu {}
.productFilter {
    border-top: none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 7px;
    margin-top: 0;
}
.productFilter p {
    font-size: 18px;
    margin-top: 6px;
}
.category_top_p{
    display: block;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.item.list-view {
    display: block;
    height: auto !important;
    margin-bottom: 20px;
    overflow: hidden;
    width: 50% !important;
}
.item.list-view .description {
    padding-left: 10px;    
}
.list-view .price .col-lg-4 {
    float: left;
    width: 27% !important;
    text-align: right;
    margin-top: 5px;
    float: right;
}

.banner {
    margin-top: 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    color: #000000 !important;
    border: 0;
    border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: #DDDDDD;
}
.nav-tabs {
    border-bottom: 3px solid #DDDDDD;
}
.pull-right.header_right {
    margin-top: 10px;
}
.social li:last-child {
    margin-right: 0;
}
h2.product_price {
    color: #be0000;
    display: table;
    font-weight: 600;    
}

.transitionfx p {
    margin-bottom: 22px;	
}
.s_icon ul li a i {
    margin-left: 0;
}
.career_content p {
    padding-top: 25px;
    text-align: justify;
    line-height: 28px;
}
.about_content p {
    text-align: justify;
    line-height: 28px;
}
#showrooms, #contact {
    margin: 50px 0px;
}
.headerOffset {
    padding-top: 20px;
    padding-bottom: 50px;
}
/* owl about slider */
#about_slider .item{
    margin: 3px;
}
#about_slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.news_content p {
    text-align: justify;
}
.innerPage {
    padding-top: 0px;
}
.question-toggle {
    cursor: pointer;
}

.about_inner .owl-pagination {
    margin-top: -317px;
}
.heading_title {
    margin-bottom: 20px;
}
.iCheck-margin {
    margin-bottom: 4px;
}
.room_right_inner {
    padding: 0 15px;    
}
.c_address {
    font-size: 14px;    
    margin: 20px 0;
    margin-top: 0;
}
.c_address li:first-child {
    font-weight: 700;
}
.about_content {
    margin-top: 4px;
}




/* div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
} */
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background: transparent;	
    color: #000;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 52%;
    margin-top: -13px;
    border-left: 0;/* 
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3; */
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}
.list-group-item {
    background-color: #fff;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
    border: none;
    border-right: 1px solid #ddd;	
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: inherit;
    color: inherit;
    z-index: 2;
    border-right: none;
}

.list-group-item.active {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #fff;
    z-index: 2;
    border-right: none;
}
a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: inherit;
    border-color: #ccc;
    color: #fff;
    z-index: 2;
}

.footer_left_ul> *{
    font-size: 15px;
}
.footer_left_ul h4 a {
    color: #888888;
    font-size: 15px;
}
.icon1{
    width: 20px;
    display: block;
    height: 21px;
}
.icon2 {
    width: 18px;
    height: 21px;
    display: block;
}
.breadcrumb {
    padding: 4px 15px;
}
.cart-actions .wishlist:hover {

    background-color: #fa7163;
    border-color: #fa7163;
    color: #ffffff;
}
.sp-thumbs img {
    height: auto !important;
    width: 47px !important;
}

.cart-actions {
    border-bottom: none;
    margin-bottom: 0px;
}
.tab-content {    
}
.paymentMethodImg img {
    cursor: pointer;
}

.input-group-btn .btn {
    padding-bottom: 8.5px;
}
.social span {
    font-size: 16px;
    margin-left: -1px;
}
.social > p {
    display: inline-block;
    margin-top: 7px;
}
/* date csss */
.post-info > span {
    color: #ED1C24;
}
.news_content > a {
    color: #ED1C24;
}
/** Mahade **/
.hotline {
    color: #000;
    margin-top: 4px;
    width: 100%;    
}
.s_icon {
    width: 100%;
    float: left;
}
.s_icon ul {
    float: right;
    text-align: right;
}
.navbar-toggle .icon-bar {
    border: 2px solid #333;
}
.navbar-brand {    
    font-size: 28px;
    font-weight: bold;
    margin-left: 7px !important;  
    padding: 10px;
    display: block !important;
    height: 36px !important;
    margin-left: 15px !important;
}
.navbar-brand {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-top: 8px;    
    text-transform: uppercase;    
}
.navbar-header a.active {
    background: #B5B5B5;
    color: #5a5a5a;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 0px !important;
    margin-right: 15px;
    margin-top: 0px !important;
    padding: 9px 10px;
    position: relative;
}
.navbar-form {
    margin-left: -15px;
}
.brand-carousel li {
  display: inline-block;
  float: left;
  border: 1px solid #ddd;
  padding: 5px 10px ;
  margin-right: 4px !important;
}
.brand-carousel li:last-child {
    margin-right: 0px;
}